/* Style untuk seluruh halaman */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #f5f5f5;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #dfe6e9;
  padding: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

/* nav li {
  display: inline-block;
  width: 150px;
  list-style-type: none;
} */

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

/* Skip Link */
.skip-link {
  display: block;
  background: #000;
  color: #fff;
  padding: 8px;
  text-align: center;
}

/* Grid Class */
.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

/* Flex Class */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Main Content */
main {
  background-color: #ffffff;
  font-size: 18px;
  padding: 20px;
}

/* Footer */
footer {
  background-color: #eeeeee;
  padding: 20px;
  text-align: center;
}

/* Heading */
h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: #2d3436;
}

/* Paragraph */
p {
  line-height: 1.6;
}

/* Optional styling (Tambahan agar lebih rapi) */
img {
  border-radius: 8px;
  margin-top: 15px;
}
